@media (max-width: 900px) {
    
    #page-home {
        background-position-x: 70vw;
       
    }

    #page-home .content {
        align-items: center;
        text-align: center;
    }

    #page-home header a {
        position: absolute;
        bottom: 48px;
        left: 50%;
        transform: translateX(-50%);
    }

    #page-home main {
        align-items: center;
    }

    #page-search-results .cards {
        grid-template-columns: 1fr;
    }

    #page-search-results .cards img {
        height: 220px;
    }

    #page-search-results header {
        display: flex;
        flex-direction: column;
    }

    #page-search-results header a {
        margin-top: 32px;
    }

}

@media (min-width: 1366px) {

    #page-home {
        background-position-x: 40vw;
    }
}

@media (max-height: 768px) {
    #page-home {
        background-position-y: 200px;
    }
}

@media (max-width: 414px) {
    #page-create-point header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #page-create-point header a {
        margin-top: 32px;
    }

    /* #page-create-point form {
        grid-template-columns: 1fr;
    } */

    /* #page-create-point .field-group {
        grid-template-columns: 1fr;
    } */

}

/* @media (max-width: 768px) {
    #page-create-point header {
        display: inline-flex;        
    }

    #page-create-point header a {
        margin-left: 64px;
    }
}

@media (max-width: 375px) {
    #page-create-point header { */
        /* display: block; */
        /* justify-content: center;
        align-items: center;        */
    /* }
} */
                